.grid{
    width: 560px;
    height: 560px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.puntets{
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.muro{
    background-color: blueviolet;
}


.poder{
    background-color: green;
    border-radius: 10px;
}

.pac-man{
    background-color: rgb(180, 160, 6);
    border-radius: 10px;
}

.pepe{
    background-color: chartreuse;
    border: none;
}
.pepa{
    background-color: rgb(32, 20, 192);
    border: none;
}
.paco{
    background-color: rgb(224, 15, 32);
    border: none;
}
.paca{
    background-color: rgb(235, 12, 194);
    border: none;
}
.kibili{
    background-color: black;
    border: none;
}

.fasustado{
    background-color: rgb(144, 201, 251);
    border: none;
}